.Rproj.user
.Rhistory
.RData
.Ruserdata
env/
bash/env/*
dumpy/
scripts/.ipynb_checkpoints/
scripts/.DS_Store
data/
docker/.venv
*.Rproj
bash/.DS_Store
writing/*.docx
writing/*.ai
writing/*.pdf
writing/*.pptx
writing/figures/.DS_Store
writing/*.xlsx
docker/mozy/.DS_Store
docker/mozy/secrets/
.DS_Store